* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}


hr {
  height: 1px;
  background-color: #5c5858;
  border: none;
  margin: 0;
}


.navbar {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #ff0000;
}

.nav-links a.active {
  border-bottom: 2px solid #ff0000;
}

section {
  min-height: 100vh;
  padding: 50px;
}


#home {
  background-color: #000000;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero h1 {
  font-size: 45px;
  margin-right: 50px;
}

.hero img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4); 
  border: none;         
  background: none;   
}
.quote {
      border-left: 4px solid #ff0000;
      font-family: monospace;
      font-size: 24px;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid black; /* cursor effect */
      width: 0; /* start hidden */
      animation: typing 4s steps(30, end) forwards, blink 0.75s step-end infinite;
}



    @keyframes typing {
      from { width: 0; }
      to { width: 100%; }
    }

    @keyframes blink {
      50% { border-color: transparent; }
    }




#about {
  background-color: #ffffff;
}

#projects {
  background-color: #000000;
}

#contacts {
  background-color: #293b4d;
}